<div class="form-filters">
    <h3><%= __('Product Filter') %></h3>
    <hr style="width: 25%;">
    <form action="/" method="get" class="form-inline">
        <div class="row">
            <div class="col form-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="<%= __('Product Name') %>">
            </div>
            <div class="col form-group">
                <input  type="number" id="price" name="price" class="form-control-range" min="0" max="1000" step=any placeholder="<%= __('Price higher than...') %>">
            </div>
            <div class="col form-group">
                <select id="sale" class="form-control" name="sale" placeholder="<%= __('Select Type') %>">
                    <option value=""><%= __('Select Type') %></option>
                    <option value="true"><%= __('Sell') %></option>
                    <option value="false"><%= __('Auction') %></option>
                </select>
            </div>
            <div class="col form-group">
                <button type="button" class="btn btn-secondary">
                    <%= __('Select Tags (ctrl + click)') %>
                </button>
                <select id="tags tags-search" class="form-control tags-search" name="tags" placeholder="<%= __('Select Tags') %>" multiple>
                    
                </select>
            </div>
            <div class="col form-group">
                <button class="btn btn-primary"><%= __('Filter') %></button>
            </div>
        </div>
    </form>
    <hr>
    <div class="product-view">
        <i class="fad fa-th"></i><i class="fad fa-th-list"></i>
    </div>
</div>