<%- include('header') %>

    <div class="container">
        <%- include('modal_new_product') %>
        <%- include('form_filters') %>
        <hr>
        <%- include('product_list') %>
    </div>
    <%- include('footer') %>