
<div class="container">
    <div class="row">
        <% for(let i = 0; i < productos.length; i++) {%>
        <div class="col-lg-3 col-md-4 mb-3">
        <div class="card h-100">
            <!-- <img class="card-img-top" src="images/<%= productos[i].image %>" alt="product_image"> -->
            <img class="card-img-top" src="<%= productos[i].image%>" alt="product_image">
            <div class="card-body">
            <h4 class="card-title">
                <%= productos[i].name %>
            </h4>
            <span>
                <h5><%= productos[i].price %> <%= currency %>
                    <span>
                        <% if(productos[i].sale === true) { %>
                            <span class="type_product">Venta</span>
                        <% } else { %>
                            <span class="type_product">Subasta</span>
                        <% } %>
                    </span>
                </h5>
            </span>
            <h6>
                <% for (tag of productos[i].tags ){ %>
                    <button class="btn btn-info btn-tags"><%= tag %></button>
                <% } %>
            </h6>
            </div>
            <div class="card-footer">
            <a href="/delete/<%= productos[i]._id %>" class="btn btn-danger">Eliminar</a>
            <a href="/update_item/<%= productos[i]._id %>" class="btn btn-success">Actualizar</a>
            </div>
        </div>
        </div>
        <% } %>
    </div>
</div>