<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('Recover Password') %></title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../css/user_acces_styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container recoverPassword">
    <div class="jumbotron">
        <% if(email) { %>
            <h1 class="display-4"><%= __('Hello') %> <%= email %></h1>
        <% } %>
        <p class="lead"><%= rememberPasswordSend %></p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/user-acces" role="button"><%= __('Go To Login') %></a>
        </p>
    </div>
</div>
</body>
</html>