<%- include('header') %>
<div class="container grid-container update-item-page">
    
    <div class="container grid-item">
        <h3><%= __('Update Product') %></h3>
    <hr style="width: 25%;">
        <div class="card">
            <img src="<%= producto.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= producto.name %></h5>
                <p class="card-text">
                    <table class="table table-success table-striped table-hover">
                        <tr>
                            <td><strong><%= __('Price') %></strong></td>
                            <td><strong><%= __('Type') %></strong></td>
                        </tr>
                        <tr>
                            <td><%= producto.price %> <%= currency %></td>
                            <td>
                                <% if(producto.sale === true) { %>
                                    <p><%= __('Sell') %></p>
                                <% } else { %>
                                    <p><%= __('Auction') %></p>
                                <% } %>
                            </td>
                        </tr>
                    </table>
                    <h6>
                        <% for (tag of producto.tags ){ %>
                            <button class="btn btn-info btn-tags"><%= tag %></button>
                        <% } %>
                    </h6>
                    <hr>
                </p>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <form action="/update_item/<%= producto.id %>" method="post" class="products_form">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <input type="text" id="name" class="form-control" name="name" placeholder="<%= __('Name') %>" value="<%= producto.name %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" id="price" class="form-control" name="price" placeholder="<%= __('Price') %>" value="<%= producto.price %>">
                    </div>
                    <div class="col">
                        <select id="sale" class="form-control" name="sale" placeholder="<%= __('Select Type') %>" readonly>
                            <% if(producto.sale == true) { %>
                                <option value="true" selected>>><%= __('Sell') %></option>
                                <option value="false">>><%= __('Auction') %></option>
                                <% } else { %>
                                    <option value="true" >>><%= __('Sell') %></option>
                                    <option value="false" selected>>><%= __('Auction') %></option>
                                <% } %>
                        </select>
                    </div>
                </div>    
            </div>
            <div class="form-group" id="tags-form">
                <% for (tag of producto.tags ){ %>
                    <div class="tag<%= counterClass %> input-group" id="tag<%= counterClass %>">
                        <input type="text" id="tags" class="form-control inputTagUpdate" name="tags" placeholder="<%= __('New Tag') %>" value=<%= tag  %>> 
                        <span class="input-group-btn">
                            <button  onclick="deleteInputTag(<%=counterClass%>)" type="button" class="close cls_tagInput">&times;</button>
                        </span>
                        <% counterClass += 1 %>
                    </div>
                <% } %>
            </div>
            <button type="button" class="btn btn-secondary" onclick='addTag( + "<%= counterClass %>" )'> <%= __('Add Tag') %></button>
            <hr>
            <button class="btn btn-primary"><%= __('Update Product') %></button>
        </form>
    </div>
</div>
    <script>
        let counterClassAux = 0
        function addTag(counterClass) {
            if(counterClassAux === 0){
                counterClassAux = counterClass
            } else {
                counterClassAux++
            }
            let newInputBox = document.createElement('div');
            newInputBox.className = "tag" + counterClassAux + " input-group"
            newInputBox.id = "tag" + counterClassAux
            newInputBox.innerHTML = "<input type='text' id='tags' class='form-control inputTagUpdate' name='tags' placeholder='<%= __('Delete') %>' required>" + 
                                    "<span class='input-group-btn'>" +
                                    "<button onclick='deleteInputTag(" + counterClassAux + ")' type='button' class='close cls_tagInput'>&times;</button>" +
                                    "</span>"
            document.getElementById("tags-form").appendChild(newInputBox);
        }
        function deleteInputTag(counterClassAux){
            let deleteElement = document.getElementById('tag'+counterClassAux)
            deleteElement.remove()
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<%- include('footer') %>